@page "/about"
@rendermode InteractiveAuto

<PageTitle>About</PageTitle>


<section>
<div class="about-intro">
    <h4>About Me</h4>
</div>

    <h4 class="label">About Me</h4>
    
  <div class="upper-cards">
        <div class="my-image">
             <img src="images/myimage.jpg" alt="A potrait of Magnus Mutai"/>
        </div>
    <SfCard ID="about-me">
           
        <CardContent>

                <h2>Hello, <br /> <br />I'm Magnus Mutai</h2>
                <br /> 
                <h6>A passionate  Full-Stack .NET Engineer with over 3 years of commercial experience</h6>
                <p>
                    I've worked on Ui design, web design, development, Unit testing, deployment and maintenance of progressive web apps, web apps and hybrid apps using Blazor and .Net.
                    <br /> <br />
                    Below are my career metrics
                </p>

        </CardContent>
    </SfCard>

  </div>
    
  <div class="lower-card">
    <SfCard ID="metrics">
       
        <CardContent>
            <div class="achievement">
                <h2>6+</h2>
                <h6>Completed projects</h6>
                <p>Commercial level projects</p>
            </div>

            <div class="vertical-line"></div>

            <div class="achievement">
                <h2>95%</h2>
                <h6>Success rate</h6>
                <p>Commercial level projects</p>
            </div>

            <div class="vertical-line"></div>

            <div class="achievement">
                <h2>3 years+</h2>
                <h6>Work Experience</h6>
                <p>Commercial level projects</p>
            </div>
        </CardContent>
    </SfCard>

    </div>

    <div class="lower-card-two">
    <SfCard ID="metrics-two">

        <CardContent>
            <div class="top-achievement">

            <div class="achievement">
                    <h2>3 years+</h2>
                    <h6>Work Experience</h6>
                    <p>Commercial level projects</p>
            </div>


            <div class="achievement">
                <h2>95%</h2>
                <h6>Success rate</h6>
                <p>Commercial level projects</p>
            </div>
            </div>


            <div class="bottom-achievement">
                <h2>6+</h2>
                <h6>Completed projects</h6>
                <p>Commercial level projects</p>
            </div>
        </CardContent>
    </SfCard>
    </div>

</section>







