section {
    color: white;
}

.about-intro {
    height: 200px;
    background-color: white;
    background-image: url(../images/about.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
}

h4 {
    text-align: center;
    margin-top: 40px;
}

.upper-cards {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    padding: 0 20px;
}

img {
    height: 250px;
    border-radius: 8px;
    margin-top: 60px;
    transition: 0.4s ease-in-out;
}

img:hover {
    transform: scale(1.03);
    transition: 0.4s ease-in-out;
}

::deep #about-me {
    background-color: rgba(78, 0, 243, 0.26);
    color: white;
    border-style: none;
    border-radius: 15px;
    max-width: 840px;
    min-height: 350px;
    padding: 20px 30px;
    margin-top: 100px;
}


    ::deep #about-me .e-card-header .e-card-header-caption .e-card-header-title {
        color: white;
        margin-left: 10px;
    }

    ::deep #about-me .e-card-header .e-card-header-caption .e-card-sub-title {
        color: white;
        margin-left: 10px;
        font-size: 1.25rem;
    }

    ::deep #about-me .e-card-content {
        color: white;
        margin-left:10px;
        padding-bottom: 10px;
    }

    ::deep #about-me .e-card-content p {
        font-size: 1.15rem;
        margin-top: 20px;
    }

.lower-card {
    padding: 0 20px;
    margin-bottom: 150px;
}

::deep #metrics {
    max-width: 1121px;
    height: 140px;
    margin-bottom: 60px;
    margin-top: 60px;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    transition: 0.4s ease-in-out;
    background-color: rgba(78, 0, 243, 0);
    border-style: none;
}

    ::deep #metrics:hover {
        background-color: rgba(0, 0, 0, .26);
        transform: scale(1.01);
        transition: 0.4s ease-in-out;
    }

        ::deep #metrics .e-card-content {
            display: flex;
            justify-content: space-between;
            color: #0EAC4D;
            align-items: center;
            padding: 0 40px;
            text-align: center;
        }

        ::deep #metrics .e-card-content p {
        
            margin-top: -6px;

        }
            .vertical-line {
    border-left: 1px solid #3D1299;
    height: 100px;
}

.lower-card-two {
    display: none;
}
@media (max-width: 768px) {
    .upper-cards {
        display: block;
       
    }

        .my-image {
          text-align: center;
        }

    .lower-card {
        display: none;
    }

    .lower-card-two {
        display: block;
        margin: 0 20px 150px 20px;
    }

    ::deep #metrics-two {
        max-width: 500px;
        height: 300px;
        margin-top: 60px;
        align-self: center;
        margin-right: auto;
        margin-left: auto;
        transition: 0.4s ease-in-out;
        background-color: rgba(78, 0, 243, 0);
        border-color: #3D1299;
    }

    ::deep #metrics-two:hover {
        background-color: rgba(0, 0, 0, .26);
        transform: scale(1.01);
        transition: 0.4s ease-in-out;
    }

        ::deep #metrics-two .e-card-content {
            display: block;
            color: #0EAC4D;
            text-align: center;
        }

            ::deep #metrics-two .e-card-content p {
                margin-top: -6px;
            }

    .top-achievement {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .bottom-achievement {
        margin-right: 155px;
    }


}

@media (max-width: 474px) {

    img {
        height: 175px;
    }

    ::deep #metrics-two {
        background-color: rgba(0, 0, 0, .26);
    }
}

@media (max-width: 355px) {

    ::deep #metrics-two {
        height: 350px;
    }

    ::deep #metrics-two .e-card-content {
        white-space: nowrap;
    }

    .top-achievement {
        display: block;
    }

    .bottom-achievement {
        margin-right: 0;
    }

    .achievement {
        margin-bottom: 35px;
    }
 }