@page "/about"

<PageTitle>About</PageTitle>


<section>
<div class="about-intro">
</div>
    
    <h4>About Me</h4>
    
  <div class="upper-cards">
        <div class="my-image">
             <img src="images/myimage.jpg" alt="A potrait of Magnus Mutai"/>
        </div>
    <SfCard ID="about-me">
           
        <CardContent>

                <h2 style="color:darkorange">Hello, <br /> I'm Magnus Mutai</h2>
                <br /> 
                <h5>A passionate  Full-Stack .NET Engineer with over 3 years of commercial experience</h5>
                <p>
                    <a href="contact" style="color:darkorange;"> Tired of low quality code, Ui and motion design on your .NET and blazor websites? </a>
                    Then you're in the right place.
                    <br />
                    <br />

                    I have increased clients' websites monthly visits by over <a style="color:darkorange">25%</a>. This has resulted to increase in company sales by over <a style="color:darkorange">15%</a>. Note: This is purely web design principals and SEO.
                    
                    <br /> <br />
                    Below are my career metrics
                </p>

        </CardContent>
    </SfCard>

  </div>
    
  <div class="lower-card">
    <SfCard ID="metrics">
       
        <CardContent>
            <div class="achievement">
                <h2>6+</h2>
                <h6>Completed projects</h6>
                <p>Commercial-level</p>
            </div>

            <div class="vertical-line"></div>

            <div class="achievement">
                <h2>95%</h2>
                <h6>Success rate</h6>
                <p>Commercial-level projects</p>
            </div>

            <div class="vertical-line"></div>

            <div class="achievement">
                <h2>3 years+</h2>
                <h6>Work Experience</h6>
                <p>Commercial-level</p>
            </div>
        </CardContent>
    </SfCard>

    </div>

    <div class="lower-card-two">
    <SfCard ID="metrics-two">

        <CardContent>
            <div class="top-achievement">

            <div class="achievement">
                    <h2>3 years+</h2>
                    <h6>Work Experience</h6>
                    <p>Commercial-level</p>
            </div>


            <div class="achievement">
                <h2>95%</h2>
                <h6>Success rate</h6>
                <p>Commercial-level projects</p>
            </div>
            </div>


            <div class="bottom-achievement">
                <h2>6+</h2>
                <h6>Completed projects</h6>
                <p>Commercial-level</p>
            </div>
        </CardContent>
    </SfCard>
    </div>

</section>







