@page "/auth"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    <Authorized>
         Hello @context.User.Identity?.Name!

         <div class="nav-item px-3">
             <NavLink class="nav-link" href="Account/Manage">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span>
             </NavLink>
         </div>
         <div class="nav-item px-3">
             <form action="Account/Logout" method="post">
                <AntiforgeryToken/>
                
             </form>
         </div>
    </Authorized>
</AuthorizeView>

