@page "/contact"   
@using System.ComponentModel.DataAnnotations
@using MagnusApp.Client.Pages
@rendermode InteractiveAuto
@inherits ContactBase

<PageTitle>Contact</PageTitle>
<section>
    
    <div class="contact-intro">
    </div>

    <h4>Contact Me</h4>
    
    <div class="upper-body">
        <div class="left-text">
            <h2 style="color:darkorange">
                I am here to build you<br />
                a fantastic software!
            </h2>
            <p class="p-big">
                At MagnusQ, We are dedicated to help you get hold of the software of <br />
                your dreams. With our expertise, we will work hand in hand with <br />
                you to create a software that not only helps you sell your products <br />
                and services across the world making lots profit, but also looks stunning.
            </p>
            
            <p class="p-small">
                At MagnusQ, We are dedicated to help you get hold of the software of
                your dreams. With our expertise, we will work hand in hand with 
                you to create a software that not only helps you sell your products 
                and services across the world making lots profit, but also looks stunning.
            </p>

        <div class="text-flex">

            <div class="left-side">
                <h5>Nairobi, Kenya</h5>
                <p>
                    Nairobi,<br />
                    Kenya
                </p>
                <h5>Information</h5>
                <p>
                    +254726995500 <br />
                    Magnusmq07@gmail.com
                </p>
            </div>
            
            <div class="right-side">
                <h5>Opening Hours</h5>
                <p> Monday to Friday: 8.00am - 4.00pm (GMT+3)</p>
                <h5 class="f-margin">Follow Me On</h5>
                    <div class="social">
                        <a href="https://www.linkedin.com/in/gilbert-mutai-a85508267/" target="_blank"><img src="/icons/footer/linkedin-icon.svg" alt="linkedin icon"></a>
                        <a href="https://github.com/MagnusMutai" target="_blank"><img src="/icons/footer/git-icon.svg" alt="github icon"></a>
                        <img src="/icons/footer/instagram-icon.svg" alt="instagram icon">
                        <a href="https://twitter.com/MagnusMutai" target="_blank"><img src="/icons/footer/x-icon.svg" alt="x icon"></a>
                    </div>
            </div>
            </div>
        </div>

      <div class="right-form">
             <div class="formone">
            <CascadingValue Value="@ClientModel">
                        <DataForm OnFormSubmited="HandleSubmit"></DataForm>
            </CascadingValue>
            </div>


            <div class="formtwo">
            <CascadingValue Value="@ClientModel">
                    <DataForm OnFormSubmited="HandleSubmit"></DataForm>
            </CascadingValue>
            </div>
        </div>
    </div>

    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255282.32390055564!2d36.68258298900558!3d-1.3032035601563787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1172d84d49a7%3A0xf7cf0254b297924c!2sNairobi!5e0!3m2!1sen!2ske!4v1713200366876!5m2!1sen!2ske" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </section>


