section {
    color: white;
}

.contact-intro {
    height: 200px;
    background-color: white;
    background-image: url(../images/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
}

h4 {
    text-align: center;
    margin-top: 40px;
}

.left-text {
    margin-top: 60px;
    margin-left: 25px;
}

.left-text h3 {
    margin-bottom:80px;
}

.upper-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

}

.p-small {
    display: none;
}

.text-flex {
    display: flex;
    gap: 50px
}

.left-side h5, .right-side h5 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.f-margin {
    padding-top: 20px;
}

.social img {
    margin-right: 10px;
}

.right-form {
    margin-right: 25px;
}

::deep #MyForm {
    background-color: #01903A;
    padding: 30px;
    border-radius: 7px;
}

::deep #MyForm .formitem {
    border-radius: 0;
}

    ::deep #MyForm .submitbtn {
        border-radius: 0;
        color: white;
        background-color: #FF0000;
        padding: 6px 25px;
        font-weight: 500;
    }

    ::deep #MyForm h4 {
        text-align: center;
    }

    ::deep #MyForm .textbox {
        height: 70px;
    }

.formtwo {
    display: none;
}

.maps {
    text-align: center;
    margin-top: 200px;
}

    .maps iframe {
        width: 1024px;
        height: 500px;
    }

@media (max-width: 1024px) {
    .left-text h3 {
        margin-bottom: 60px;
    }

    .maps iframe {
        width: 768px;
        height: 450px;
    }

}

@media (max-width: 946px) {
    .p-big {
        display: none;
    }

    .p-small {
        display: block;
    }
}

@media (max-width: 768px) {
    .upper-body {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .left-text {
        margin-left: 20px;
        margin-right: 20px;
    }

        .left-text h2 {
            margin-bottom: 40px;
        }

    .right-form {
        margin-right: auto;
        margin-left: auto;
    }

    .formone {
        display: none;
    }

    .formtwo {
        display: block;
        margin-top: 30px;
    }

    .maps iframe {
        width: 474px;
        height: 400px;
    }
}

@media (max-width: 474px) {

    .left-text h2 {
        /*text-align: center;*/
    }

    .p-small {
        /*text-align: center;*/
    }
        .text-flex {
        display: block;
        gap: 20px
    }

    .maps iframe {
        width: 355px;
        height: 350px;
    }
}


@media (max-width: 355px) {

    .maps iframe {
        width: 280px;
        height: 300px;
    }
}