section {
    color: white;
}

.contact-intro {
    height: 200px;
    background-color: white;
    background-image: url(../images/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
}

.title {
    text-align: center;
    margin-top: 40px;
}

.upper-body {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 160px;

}

.left-text {
    margin-left: 25px;
}

.left-text h1 {
    margin-bottom:80px;
}

.p-big {
    line-height: 32px;
}

.p-small {
    display: none;
    line-height: 32px;
}

.text-flex {
    display: flex;
    gap: 50px;
    margin-top: 80px;
}

.left-side h5, .right-side h5 {
    margin-top: 100px;
    margin-bottom: 15px;
}

p {
    /*font-size: 1.15rem;*/
}

.f-margin {
    padding-top: 20px;
}

.social img {
    margin-right: 10px;
}

.right-form {
    display: block;
    min-width: 350px;
    margin-right: 25px;
}

::deep #MyForm {
    background-color: rgba(0, 0, 0, .2);
    padding: 40px 25px;
    border-radius: 15px;
}

::deep #MyForm .formitem {
    border-radius: 0;
}


    ::deep #MyForm h4 {
        text-align: center;
    }

    ::deep #MyForm .textbox {
        height: 70px;
    }

    ::deep #MyForm .submitbtn {
        border-radius: 15px;
        font-weight: 500;
        color: white;
        background-color: rgb(238, 48, 48);
        width: 100%;
        padding: 6px 25px;
        transition: .25s ease-in-out;
    }

    ::deep #MyForm .submitbtn:hover {
        color: black;
        background-color: white;
        transition: .25s ease-in-out;
    }
.formtwo {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.maps {
    text-align: center;
    margin-top: 150px;
}

    .maps iframe {
        width: 1024px;
        height: 500px;
    }

@media  (max-width: 1220px)
{
    .p-big {
        display: none;
    }

    .p-small {
        display: block;
    }
}

@media (max-width: 1024px) {

    .upper-body {
        margin-top: 120px;
    }

    .right-form {
        min-width: 320px;
    }

    .left-text h1 {
        margin-bottom: 80px;
    }

    .left-side h5, .right-side h5 {
        margin-top: 90px;
        margin-bottom: 15px;
    }

    .maps iframe {
        width: 768px;
        height: 450px;
    }

}

@media (max-width: 821px) {
    .upper-body {
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 60px;
    }

    .left-text {
        margin-left: 20px;
        margin-right: 20px;
    }

    .left-side h5, .right-side h5 {
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .right-form {
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }

    .formone {
        display: none;
    }

    .formtwo {
        width: 350px;
        display: block;
        margin-top: 50px;
    }

    .maps iframe {
        width: 600px;
        height: 400px;
    }

}

@media (max-width: 658px)
{
    .upper-body {
        margin-top: 80px;
    }

    .f-margin {
        padding-top: 0px;
    }
}

@media (max-width: 625px)
{
   .maps iframe {
       width: 445px;
   }
}

@media (max-width: 510px)
{
    .right-side h5:not(:first-child) {
        margin-top: 35px 20px;
    }
}

@media (max-width: 474px) {

    .upper-body {
        margin-top: 60px;
    }

    .text-flex {
        display: block;
        gap: 20px
    }

    ::deep #MyForm {
        padding: 35px 20px;
    }

    .formtwo {
        width: 320px;
    }

    .maps iframe {
        width: 335px;
        height: 350px;
    }
}


@media (max-width: 355px) {

    .upper-body {
        margin-top: 40px;
    }

    .formtwo {
        width: 310px;
    }

    .maps iframe {
        width: 280px;
        height: 300px;
    }
}