@page "/hireme"
@rendermode InteractiveAuto
@inherits HiremeBase


<PageTitle>Hire Me</PageTitle>

<section>
    <div class="hireme-intro">
    </div>

    <h4>Hire Me</h4>
   
    <div class="text">
        <p class="bg-text"> Let your projects be worked on by an Expert Software Engineer with <br />
            great communication skills and a quick turn-around.
        </p>

        <p class="sm-text">
            Let your projects be worked on by an Expert Software Engineer with
            great communication skills and a quick turn-around.
        </p>
    </div>

    <div>
        <h5>Click Here!</h5>
    </div>

    <div class="stick"></div> <div class="arrow"></div>

    <SfDialog ID="Dialog" Width="350px" ShowCloseIcon="true" @bind-Visible="@IsVisible">
            <DialogTemplates>
                <Content>
                    <CascadingValue Value="@ClientModel">
                    <DataForm></DataForm>
                    </CascadingValue>
                </Content>
            </DialogTemplates>
        </SfDialog>
    <div class="hireme-btn"><SfButton Content="Hire Me" CssClass="borders" @onclick="@OpenDialog"></SfButton></div>

</section>
