@page "/hireme"
@rendermode InteractiveAuto
@inherits HiremeBase

<PageTitle>Hire Me</PageTitle>

<section>
    <div class="hireme-intro">
    </div>

    <h4>Hire Me</h4>
   
    <div class="text">
        <p class="bg-text"> Let your projects be worked on by an Expert Software Engineer with <br />
            great communication skills and a quick turn-around.
        </p>

        <p class="sm-text">
            Let your projects be worked on by an Expert Software Engineer with
            great communication skills and a quick turn-around.
        </p>
    </div>

    <div>
        <h5>Click Here!</h5>
    </div>

    <div class="my-4">
        <div class="arrow">
            <div class="stick"></div> <div class="arrow-head"></div>
        </div>
    </div>
    
        <SfDialog ID="Dialog" CssClass="dialog-box" IsModal="true" @bind-Visible="IsVisible">
            <DialogEvents OnOverlayModalClick="OverlayModalClickHandler"></DialogEvents>
            <DialogTemplates>
                <Content>
                    <div>
                        <a @onclick="CloseDialog"><svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path d="m251.333-204.667-46.666-46.666L433.334-480 204.667-708.667l46.666-46.666L480-526.666l228.667-228.667 46.666 46.666L526.666-480l228.667 228.667-46.666 46.666L480-433.334 251.333-204.667Z" /></svg></a>
                    </div>
                    <CascadingValue Value="@ClientModel">
                        <DataForm OnFormSubmitted="HandleSubmit"></DataForm>
                    </CascadingValue>
                </Content>
            </DialogTemplates>
            <DialogAnimationSettings Effect="DialogEffect.FadeZoom" Duration="850" />
        </SfDialog>

    <div class="hireme-btn"><SfButton Content="Hire Me" CssClass="borders" @onclick="@OpenDialog"></SfButton></div>

</section>

<style>

    #Dialog {
        width: 320px;
        background-color: rgba(78, 0, 243, 0.26);
        border-radius: 10px;
        border-style: none;
        box-shadow: 0 4px 8px 0 rgba(78, 0, 243, 0.11), 0 6px 20px 0 rgba(78, 0, 243, 0.10);
    }

    #Dialog .e-dlg-content {
        color: white;
        background-color: transparent;
        width: 315px;
        margin-right: auto;
        margin-left: auto;
        padding: 35px 25px;
    }

        #Dialog .e-dlg-content a {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        #Dialog .e-dlg-content svg {
            fill: white;
            transition: .25s ease-in-out;
            float: right;
        }
        
        #Dialog .e-dlg-content svg:hover {
            fill: black;
            transition: .25s ease-in-out;
        }

         #MyForm .formitem {
            border-radius: 15px;
        }


         #MyForm h4 {
            text-align: center;
        }

         #MyForm .textbox {
            height: 70px;
        }

         #MyForm .submitbtn {
            border-radius: 15px;
            font-weight: 500;
            color: white;
            background-color: #0EAC4D;
            width: 100%;
            padding: 6px 25px;
            transition: .5s ease-in-out;
        }

             #MyForm .submitbtn:hover {
                color: black;
                background-color: white;
                transition: .5s ease-in-out;
            }

    @@media ( max-width:456px ) {

        #Dialog {
            width: 300px;
        }

        #Dialog .e-dlg-content {
        width: 295px;
        padding: 30px 10px;
    }

}
</style>