@page "/hireme"
@rendermode InteractiveAuto
@inherits HiremeBase


<PageTitle>Hire Me</PageTitle>

<body>

    <div class="hireme-intro">
        <h4>Hire Me</h4>
    </div>

    <div class="text">
        <i> Get to work with  a  rock-star software engineer with <br />
            great communication skills and a quick turn-around <br />
            for your projects. </i>
    </div>

    <h5>Click Here!</h5>

        <div class="stick"></div> <div class="arrow"></div>
        <div class="hireme-btn"><SfButton Content="Hire Me" CssClass="borders"></SfButton></div>

    <div class="opinion">
        <div class="circle"></div>
        <i>
            “Take your web design and development to the next level with <br />
            in-depth C#/.NET and Blazor skills which will help you reach your business goals.” <br />
            <br />
            ~Magnus
        </i>
    </div>
</body>