@page "/hireme"
@rendermode InteractiveAuto
@inherits HiremeBase

<PageTitle>Hire Me</PageTitle>

<section>
    <div class="hireme-intro">
    </div>

    <h4>Hire Me</h4>
   
    <div class="text">
        <p class="bg-text"> Let your projects be worked on by an Expert Software Engineer with <br />
            great communication skills and a quick turn-around.
        </p>

        <p class="sm-text">
            Let your projects be worked on by an Expert Software Engineer with
            great communication skills and a quick turn-around.
        </p>
    </div>

    <div>
        <h5>Click Here!</h5>
    </div>

    <div class="stick"></div> <div class="arrow"></div>
    
        <SfDialog ID="Dialog" CssClass="dialog-box" ShowCloseIcon="true" IsModal="true" @bind-Visible="IsVisible">
            <DialogEvents OnOverlayModalClick="OverlayModalClickHandler"></DialogEvents>
            <DialogTemplates>
                <Content>
                    <CascadingValue Value="@ClientModel">
                        <DataForm OnFormSubmited="HandleSubmit"></DataForm>
                    </CascadingValue>
                </Content>
            </DialogTemplates>
            <DialogAnimationSettings Effect="DialogEffect.FadeZoom" Duration="850" />
        </SfDialog>

    <div class="hireme-btn"><SfButton Content="Hire Me" CssClass="borders" @onclick="@OpenDialog"></SfButton></div>

</section>

<style>
/*  ::deep .dialog-box {
    width: 350px;
} */

#Dialog {
    width: 280px;
}

@@media ( max-width:456px )
{
    #Dialog .e-dlg-content #MyForm .submitbtn {
        border-radius: 5;
        color: white;
        background-color: #0EAC4D;
        padding: 6px 25px;
        font-weight: 500;
    }

    #Dialog .e-dlg-content #MyForm {
        width: 305px;
    }

    #Dialog {
        width: 320px;
    }

    ::deep #MyForm {
        width: 305px;
    }
}
</style>