body {
    color: white;
}

.hireme-intro {
    height: 200px;
    background-color: white;
    background-image: url(../images/about.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    padding: 0 15px;
}

i {
    text-align: left;
}

h5 {
    text-align: center;
    margin-top: 120px;
}

.stick {
    height: 40px;
    width: 1.6px;
    background: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-top: 15px solid white;
    border-right: 5px solid transparent;
    margin-left: auto;
    margin-right: auto;
}

::deep .e-btn.borders {
    border: 1px solid rgb(64, 234, 132);
    color: white;
    background: none;
    padding: 6px 36px;
    border-radius: 0;
    margin-top: 30px;
    font-size: 18px;
}

    ::deep .e-btn.borders:hover {
        background-color: white;
        color: #1FEB27;
        border: 1px solid rgb(0, 0, 0);
        transition-duration: 2s;
    }

.hireme-btn {
    display: flex;
    justify-content: center;
}

.circle {
    background-image: url(../images/myicon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #bbb;
    margin-left: 15px;
}

.opinion {
    display: flex;
    color: white;
    gap: 15px;
    margin-bottom: 40px;
    margin-top: 300px;
}

@media (max-width: 768px) {
    .opinion {
        display: block;
        margin-top: 40px;
    }

    .circle {
        margin-bottom: 20px;
    }
}
