section {
    color: white;
}

.hireme-intro {
    height: 200px;
    background-color: white;
    background-image: url(../images/about.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
}

h4 {
    text-align: center;
    margin-top: 40px;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0 15px;
}

.sm-text {
    display: none;
}

p {
    text-align: left;
}

h5 {
    text-align: center;
    margin-top: 100px;
}

.stick {
    height: 40px;
    width: 1.6px;
    background: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-top: 15px solid white;
    border-right: 5px solid transparent;
    margin-left: auto;
    margin-right: auto;
}

::deep .dialog-box {
    width: 350px;
}

::deep #Dialog {
    width: 350px;
}

::deep .e-btn.borders {
    border: 1px solid rgb(64, 234, 132);
    color: black;
    background: #07F468;
    padding: 7px 36px;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 18px;
    transition: .25s ease-in-out;
}

    ::deep .e-btn.borders:hover {
        background-color: white;
        color: #07F468;
        border: 1px solid rgb(0, 0, 0);
        transform: scaleY(1.07);
        transition: .25s ease-in-out;
    }

.hireme-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

/*Non-functional | monitor to see if functions*/
/*::deep #Dialog .e-dlg-content #MyForm .submitbtn {
    border-radius: 0;
    color: white;
    background-color: #FF0000;
    padding: 4px 18px;
    font-weight: 500;
}*/

/*::deep #Dialog {
    width: 350px;
}*/


@media (max-width: 600px) {
    .sm-text {
        display: block;
    }

    .bg-text {
        display: none;
    }

    h5 {
        margin-top: 70px;
    }
}