@page "/hireme"
@rendermode InteractiveAuto
@inherits HiremeBase


<PageTitle>Hire Me</PageTitle>

<section>
    <div class="hireme-intro">
        <h4>Hire Me</h4>
    </div>

    <div class="text">
        <i> Get to work with  a  rock-star software engineer with <br />
            great communication skills and a quick turn-around <br />
            for your projects. </i>
    </div>

    <h5>Click Here!</h5>

        <div class="stick"></div> <div class="arrow"></div>

    <SfDialog ID="Dialog" Width="350px" ShowCloseIcon="true" @bind-Visible="@IsVisible">
            <DialogTemplates>
                <Content>
                    <CascadingValue Value="@ClientModel">
                    <DataForm></DataForm>
                    </CascadingValue>
                </Content>
            </DialogTemplates>
        </SfDialog>
    <div class="hireme-btn"><SfButton Content="Hire Me" CssClass="borders" @onclick="@OpenDialog"></SfButton></div>

</section>

<style>

 #Dialog .e-dlg-content #MyForm .submitbtn {
    border-radius: 0;
    color: white;
    background-color: #0EAC4D;
    padding: 6px 25px;
    font-weight: 500;
 }

</style>