@page "/"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
<PageTitle>Home</PageTitle>

<header>
    <div class="index-intro">
        <h1>FULL-STACK .NET DEVELOPER</h1>
        <p>Hello World! It's Magnus Mutai a Full-stack .NET/Blazor Engineer <br /> Based in Nairobi, Kenya and I enjoy creating meaningful and exciting softwares using C#. <br />I have freebies for you! Hold Tight!</p>
    </div>

@* Do not touch *@
@*    <div class="stick"></div> <div class="arrow"></div>

    <SfButton Content="Hire Me" CssClass="borders" OnClick="OnBtnClick"></SfButton>
 *@
  <section>
    <div class="skill">
        <img src="/icons/skill/blazor-icon.svg" alt="blazor icon">
        <p>Blazor</p>
    </div>
    <div class="skill">
      <img src="/icons/skill/dotnet-icon.svg" alt="dotnet icon">
        <p>.NET/C#</p>
    </div>
    <div class="skill hide-zfold">
       <img src="/icons/skill/syncfusion-icon.svg" alt="syncfusion icon">
        <p>Syncfusion</p>
    </div>
    <div class="skill hide-mobile">
      <img src="/icons/skill/html-icon.svg" alt="html icon">
        <p>Html/Css</p>
    </div>
    <div class="skill hide-tablet">
      <img src="/icons/skill/azure-icon.svg" alt="azure icon">
        <p>Azure</p>
    </div> 
    <div class="skill hide-tablet">
      <img src="/icons/skill/docker-icon.svg" alt="docker icon">
        <p>Docker</p>
    </div>

   </section>

   <div class="second-layer">
    <div class="skill-over hide-tablet">
      <img src="/icons/skill/kubernetes-icon.svg" alt="kubernetes icon">
        <p>Kubernetes</p>
    </div>
        <div class="skill-over hide-tablet">
      <img src="/icons/skill/figma-icon.svg" alt="figma icon">
        <p>Figma</p>
    </div>
    </div>

</header>

    <DisplayProject/>

    <div class="opinion">
        <div class="circle"></div>
    <i>
        “Take your web design and development to the next level with <br />
        in-depth C#/.NET and Blazor skills which will help you reach your business goals.” <br />
        <br />
        ~Magnus
    </i>
    </div>


@code{
    public void OnBtnClick()
    {

    }
}