/*This color customisation only functional semi-transparent and solid spinner like fabric*/
/*::deep .e-spinner-pane.customClass .e-spinner-inner .e-spin-fabric {
    stroke: green;
    fill: green;
}*/

/*.spinner-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #06014b;
    z-index: 1000;
}*/
  
header {
    background-image: url(../images/introimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.index-intro {
    padding-top: 10px;
    color: white;
    background-color: rgba(78, 0, 243, 0.26);
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    margin-top: 170px;
}

.text-start {
    padding-left: 10px;
}

::deep .sub-container {
    margin-top: 10px;
}

/*::deep .e-btn.borders {
    border: 1px solid rgb(64, 234, 132);
    color: white;
    background: none;
    padding: 6px 36px;
    align-self: safe center;
    border-radius: 0;
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
}

    ::deep .e-btn.borders:hover {
        background-image: linear-gradient(#3D1299, #D10FD0);
        color: white;
        border: 1px solid rgb(0, 0, 0);
        transition-duration: 2s;
    }*/

.skill {
    margin-right: 8px;
    background-color: rgba(78, 0, 243, 0.26);
    font-size: 15px;
    border-radius: 1000px;
    padding: 3px 0;
    min-width: 110px;
    display: flex;
    justify-content: center;
}

    .skill p {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

.skill-over {
    margin-right: 8px;
    background-color: rgba(78, 0, 243, 0.26);
    font-size: 15px;
    border-radius: 1000px;
    padding: 3px 0;
    min-width: 110px;
    display: flex;
    justify-content: center;
}

    .skill-over p {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    
section {
    padding-top: 80px;
    /*margin-bottom: 10px;*/
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: white;
    justify-content: center;
}

.second-layer {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: white;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 10px;
}

.index-intro p {
    font-size: 15px;
}

img {
    /*margin-left: 1px;*/
    margin-right: 4px;
}

.stick {
    height: 40px;
    width: 1px;
    background: white;
    margin-top: 15px;
    align-self: center;
}

.arrow {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-top: 15px solid white;
    border-right: 5px solid transparent;
    align-self: center;
}

/*.pointer { 
    animation: move 1.1s infinite ease-in-out;
    align-self: center;
}*/

/*@keyframes move {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 0;
    }
}*/

.non-heroh {
    color: darkorange;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    .index-intro {
        width: 80%;
        text-align: left;
    }

        .index-intro p {
            margin-left: 10px;
            margin-right: 5px;
            margin-top: 10px;
        }

    .hide-tablet {
        display: none;
    }

}

@media (max-width: 474px)
{

    .hide-mobile {
        display: none;
    }
    
    .hide-tablet {
        display: none;
    }

}

@media (max-width: 355px) {
    .hide-mobile {
        display: none;
    }

    .hide-tablet {
        display: none;
    }

    .hide-zfold {
        display: none;
    }

}

    