@page "/projects"
@inherits ProjectBase

<PageTitle>Projects</PageTitle>

<section>
    <div class="project-intro">
        <h4>Projects</h4>
    </div>
    <h4 class="non-heroh">My world of personal projects</h4>
    <DisplayProject/>
</section>



