@page "/projects"

<PageTitle>Projects</PageTitle>

<section>
    <div class="project-intro">
        <h4>Projects</h4>
    </div>
    <h4 class="non-heroh">PROJECTS</h4>
    <DisplayProject/>
</section>



