section {
    color: white;
}

.project-intro {
    height: 200px;
    background-color: white;
    background-image: url(../images/project.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
}

h4 {
    text-align: center;
    margin-top: 40px;
}


