body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgba(20, 9, 9);
    color: white;
    display: block;
    margin-top: auto;
    font-size: 15px;
}

.contact {
    display: flex;
    gap: 40px;
    justify-content: center;
  
}

.contact-group {
    display: flex;
    margin-top: 20px;
}

.contact-group p{
    white-space: nowrap;
}


footer p{
    text-align: center;
    margin-top: 20px;
}

 .social {
    display: flex;
    margin-top: 20px;
    gap: 15px;
    
   
 }

.location-block {
    display: none;
}


@media (max-width: 768px) {

    .contact {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .hide-location {
        display: none;
    }

    .loc-soc {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .location-block {
        display: flex;
    }

}

@media (max-width: 474px) {

    .contact {
        display: block;
        margin-top: 28px;
    }

    .contact-group {
        margin-top: -25px;
    }

        .contact-group p {
            margin-left: auto;
            margin-right: auto;
        }
}

@media (max-width: 355px) {

    .hide-fold {
        display: none;
    }

    .loc-soc {
        display: block;
    }
    .location-block {
        justify-content: center;
    }

}