@inherits LayoutComponentBase

<body>

    <header class="sticky-top">
      <NavMenu />
   </header>  
        
            <article class="content">
                @Body
            </article>

    <div class="opinion">
        <div class="circle"></div>
        <i>
            “Take your web design and development to the next level with 
            in-depth C#/.NET and Blazor skills from an expert.” <br />
            <br />
            -Magnus
        </i>
    </div>

    <footer>

        <div class="contact pt-3">

            <div class="contact-group mb-2">
                <span>
                    <a href="mailto:magnusmq07@gmail.com">
                        <img class="me-1" src="/icons/footer/mail-icon.svg" alt="mail icon">
                        Magnusmq07@gmail.com
                    </a>               
                </span>
            </div>

            <div class="contact-group">
                <span>
                    <img class="phone" src="/icons/footer/call-icon.svg" alt="call icon">
                    +254726995500
                </span>
            </div>

            <div class="contact-group mb-md-1">
                <span>
                    <img class="mb-1 location" src="/icons/footer/location-icon.svg" alt="location icon">
                    Nairobi, Kenya
                </span>
            </div>

        </div>

        <hr class="sm-line"/>

        <p class="social">
                <a class="social-space" href="https://www.linkedin.com/in/gilbert-mutai-a85508267/" target="_blank"><img src="/icons/footer/linkedin-icon.svg" alt="linkedin icon"></a>
                <a class="social-space" href="https://github.com/MagnusMutai" target="_blank"><img src="/icons/footer/git-icon.svg" alt="github icon"></a>
                <img class="social-space" src="/icons/footer/instagram-icon.svg" alt="instagram icon">
                <a href="https://twitter.com/MagnusMutai" target="_blank"><img src="/icons/footer/x-icon.svg" alt="x icon"></a>
        </p>

        <hr class="bg-line"/>
            <p> © Magnus 2024, All rights reserved</p>


    </footer>
</body>




