@inherits LayoutComponentBase
<body>
   <header>
      <NavMenu />
   </header>  
        
            <article class="content">
                @Body
            </article>

    <footer>
        <div class="contact">

            <img src="" alt="">

            <p></p>

            <img src="" alt="">

            <p></p>

            <img src="" alt="">

            <p></p>

        </div>


        <div class="social">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>

        <p>Main St.Blackabbey, Magnus, Co.Limerick-Copyright 2024©</p>
    </footer>
</body>


