@inherits LayoutComponentBase
<body>
                <NavMenu/>
        
            <article class="content">
                @Body
            </article>

    <footer>
        <p>Main St.Blackabbey, Adare, Co.Limerick-Copyright 2023©</p>
    </footer>
</body>


