@inherits LayoutComponentBase
<body>
   <header>
      <NavMenu />
   </header>  
        
            <article class="content">
                @Body
            </article>

    <div class="opinion">
        <div class="circle"></div>
        <i>
            “Take your web design and development to the next level with <br />
            in-depth C#/.NET and Blazor skills which will help you reach your business goals.” <br />
            <br />
            ~Magnus
        </i>
    </div>

    <footer>

        <div class="contact">

            <div class="contact-group">
                <p>
                    <a href="mailto:magnusmq07@gmail.com">
                        <img src="/icons/footer/mail-icon.svg" alt="mail icon">
                        MagnusMq07@gmail.com
                    </a>               
                </p>

            </div>

            <div class="contact-group hide-fold">
                <p>
                    <img src="/icons/footer/call-icon.svg" alt="call icon">
                    +254726995500
                </p>
                </div>

            <div class="contact-group hide-location">
                <p>
                    <img src="/icons/footer/location-icon.svg" alt="location icon">
                    Nairobi, Kenya
                </p>
            </div>

        </div>

        <div class="loc-soc">
            <div class="location-block">
                <p>
                    <img src="/icons/footer/location-icon.svg" alt="location icon">
                    Nairobi, Kenya
                </p>
            </div>
        </div>

        <div class="social">
            <a href="https://www.linkedin.com/in/gilbert-mutai-a85508267/" target="_blank"><img src="/icons/footer/linkedin-icon.svg" alt="linkedin icon"></a>
            <a href="https://github.com/MagnusMutai" target="_blank"><img src="/icons/footer/git-icon.svg" alt="github icon"></a>
            <img src="/icons/footer/instagram-icon.svg" alt="instagram icon">
            <a href="https://twitter.com/MagnusMutai" target="_blank"><img src="/icons/footer/x-icon.svg" alt="x icon"></a>
        </div>
            <p> Copyright © 2024 Magnus Mutai, All Rights Reserved</p>


    </footer>
</body>


