@inherits LayoutComponentBase
<body>
   <header>
      <NavMenu />
   </header>  
        
            <article class="content">
                @Body
            </article>

    <footer>
      
        <div class="contact">

            <div class="contact-group">
                <img src="/icons/footer/mail-icon.svg" alt="mail icon">
                <p>MagnusMq07@gmail.com</p>
            </div>

            <div class="contact-group hide-fold">
                <img src="/icons/footer/call-icon.svg" alt="call icon">
                <p>+254726995500</p>
                </div>

            <div class="contact-group hide-location">
                <img src="/icons/footer/location-icon.svg" alt="location icon">
                <p>Nairobi, Kenya</p>
            </div>

            </div>
        <div class="loc-soc">
            <div class="location-block">
                <img src="/icons/footer/location-icon.svg" alt="location icon">
                <p>Nairobi, Kenya</p>
            </div>

            <div class="social">
                <img src="/icons/footer/linkedin-icon.svg" alt="linkedin icon">
                <img src="/icons/footer/git-icon.svg" alt="github icon">
                <img src="/icons/footer/instagram-icon.svg" alt="instagram icon">
                <img src="/icons/footer/x-icon.svg" alt="x icon">
            </div>
        </div>
            <p> Copyright © 2024 Magnus Mutai, All Rights Reserved</p>


    </footer>
</body>


