@inherits LayoutComponentBase
<body>
   <header>
      <NavMenu />
   </header>  
        
            <article class="content">
                @Body
            </article>

    <footer>
        <p>Main St.Blackabbey, Magnus, Co.Limerick-Copyright 2024©</p>
    </footer>
</body>


