body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.circle {
    background-image: url(../images/myicon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #bbb;
    margin-left: 15px;
}

.opinion {
    display: flex;
    color: white;
    gap: 12px;
    margin-bottom: 40px;
    margin-top: 140px;
}

    .opinion i {
        margin-top: 4px;
    }

footer {
    background-color: rgba(20, 9, 9);
    color: white;
    display: block;
    margin-top: auto;
    font-size: 15px;
}

footer p{
    text-align: center;
    margin-top: 10px;
}

.contact {
    display: flex;
    gap: 40px;
    justify-content: center;
  
}

.contact-group {
    display: flex;
    margin-top: 20px;
}

.contact-group p{
    white-space: nowrap;
}

.contact-group a{
    text-decoration: none;
    color: inherit;
}

/*.wrapper {
    display: flex;
    justify-content: center;
    
}*/


 .social {
    display: flex;
    gap: 15px;   
    float: right;
    margin-top: -45px;
    margin-right:15px;
 }

.sort-linkedin {
    margin-bottom: -10px;
}
    .location-block {
    display: none;
}

@media (max-width: 940px) {
    .social {
        float: none;
        margin-top: 0;
        margin-right: 0;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .opinion {
        display: block;
        margin-top: 40px;
    }

    .contact {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .hide-location {
        display: none;
    }

  

    .location-block {
        display: flex;
    }
    .wrapper {
        display: block;
    }
}

@media (max-width: 474px) {

    .contact {
        display: block;
        margin-top: 28px;
    }

    .contact-group {
        margin-top: -25px;
    }

        .contact-group p {
/*            margin-left: auto;
            margin-right: auto;*/
        }
}

@media (max-width: 355px) {

    .hide-fold {
        display: none;
    }

    .location-block {
/*        justify-content: center;*/
    }

}