.spinner-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #06014b;
    z-index: 10000;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.circle {
    background-image: url(../images/myicon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #bbb;
    margin-left: 15px;
    animation: move 1.1s infinite ease-in-out;
}

@keyframes move {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 5px;
    }

    100% {
        margin-top: 0;
    }
}

.opinion {
    display: flex;
    color: white;
    gap: 12px;
    margin-bottom: 40px;
    margin-top: 140px;
}

    .opinion i {
        max-width: 700px;
        margin-top: 4px;
    }

footer {
    background-color: rgba(20, 9, 9);
    color: white;
    display: block;
    margin-top: auto;
    font-size: 15px;
}

footer p {
    text-align: center;
    margin-top: 10px;
}

footer p:last-child {
    margin-top: 20px;
}

.contact {
    display: flex;
    gap: 40px;
    justify-content: center;
  
}

.contact-group {
    display: flex;
    margin-top: 6px;
}

.contact-group p{
    white-space: nowrap;
}

.contact-group a{
    text-decoration: none;
    color: inherit;
}

.sm-line {
    display: none;
}

.social {
    float: right;
    margin-top: -35px;
    margin-right: 15px;
}

.bg-line {
    border: .7px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.social-space {
    margin-right: 6px;
}

@media (max-width: 940px) {

    .contact {
        margin-bottom: 25px;
    }

    .sm-line {
        display: block;
        border: .7px;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }

    .social {
        float: none;
        margin-top: 25px;
        margin-right: 0;
    }

    .bg-line {
        display: none;
    }
}

@media (max-width: 778px) {
    .opinion {
        margin-top: 40px;
    }

    .circle {
        display: none;
    }

    .contact {
        display: block;
    }

    .sm-line {
        width: 65%;
    }
}

@media (max-width: 474px) {

    .contact {
        display: block;
        margin-top: 28px;
    }

}
