/* .wrapper {
    background-color: rgb(159, 167, 174);
    width: 1024px;
}

.navbar {
    height: 208px;
    /* max-width: 500px; */
    /* background-color: rgba(0, 0, 0, 0.223); */
/* } */

/* a { */
  /* color: white; */
/* } */ 