@inject NavigationManager NavigationManager

<header>
 
    <nav class="sidebar">
        <a href="#" class="close dropdown-menu"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="m251.333-204.667-46.666-46.666L433.334-480 204.667-708.667l46.666-46.666L480-526.666l228.667-228.667 46.666 46.666L526.666-480l228.667 228.667-46.666 46.666L480-433.334 251.333-204.667Z" /></svg></a>
        <a href="https://www.syncfusion.com/forums">Home</a>
        <a href="https://www.syncfusion.com/forums">About</a>
        <a href="https://www.syncfusion.com/forums">Contact</a>
        <a href="https://www.syncfusion.com/forums">Hire Me</a>
        <a href="https://www.syncfusion.com/forums">Projects</a>
        <a href="https://www.syncfusion.com/forums">Login</a>
        <a href="https://www.syncfusion.com/upgrade-guide">Sign Up</a>
    </nav>
  
<SfAppBar Mode="AppBarMode.Dense" CssClass="applbar">
    
    <div class="first-part appnav">
        <a href="https://www.syncfusion.com/forums" class="home navbutton">Home</a>
        <a href="#" class="navbutton">About</a>
        <a href="https://www.syncfusion.com/forums" class="navbutton">Contact</a>
        <a href="https://www.syncfusion.com/forums" class="navbutton">Hire Me</a>
        <a href="https://www.syncfusion.com/forums" class="navbutton">Projects</a>
    </div>

        <div class="second-part appnav">
        <a href="https://www.syncfusion.com/forums">Login</a>
        <a href="https://www.syncfusion.com/upgrade-guide" class="ralign">Sign Up</a>
    </div>


        <a href="#" class="menu"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a>
        
    <SfButton Content="Hire Me" CssClass="outline ralign down" OnClick="OnBtnClick"></SfButton>
    
</SfAppBar>

    <script>
        const menu = document.querySelector('.menu')

        const svgIcon = document.querySelector('.menu svg')

        const dropDownMenu = document.querySelector('.dropdown-menu')

        menu.onclick = function () { 
            dropDownMenu.classList.toggle('open')
        }
       
    </script>

</header>



<style>



    .close {
        fill: white;
    }

    .e-btn.outline {
        border: 1px solid rgb(64, 234, 132);
        color: rgb(64, 234, 132);
        background: none;
        padding: 2px 18px;
        border-radius: 0;
    }

    .ralign {
        margin-right: 15px;
    }

    .down {
        color: forestgreen;
        position: absolute;
        bottom: 12px;
        right: 15px;
    }

    .e-appbar.applbar {
        background-color: black;
        color: white;
        /* min-height: 80px; */
        padding:60px 0px;
       
    }


    


</style>

@code{
    private bool forceLoad = false;



    public void OnBtnClick()
    {
        
        NavigationManager.NavigateTo("https://www.syncfusion.com/downloads");
    }

    
    

    // protected void ShowSidebar()
    // {
    //     CsClass = "showsidebar";
    // }
    // protected void HideSidebar()
    // {
    //     CsClass = null;
    // }



}
