@using Syncfusion.Blazor.Buttons
@inject NavigationManager NavigationManager
<SfAppBar Mode="AppBarMode.Dense" CssClass="applbar">

    <div class="appnav">
    <span class="home"><a href="https://www.syncfusion.com/forums">Home</a></span>
    <span><a href="https://www.syncfusion.com/forums">About</a></span>
    <span><a href="https://www.syncfusion.com/forums">Contact</a></span>
    <span><a href="https://www.syncfusion.com/forums">Hire Me</a></span>
    <span><a href="https://www.syncfusion.com/forums">Projects</a></span>

    <AppBarSpacer></AppBarSpacer>

    <span><a href="https://www.syncfusion.com/forums">Login</a></span>
    <span class="ralign"><a href="https://www.syncfusion.com/upgrade-guide">Sign Up</a></span>
    </div>
    <span>
    <SfButton Content="Hire Me" CssClass="outline ralign down" OnClick="OnBtnClick"></SfButton>
    </span>
</SfAppBar>



<style>
    .e-btn.outline {
        border: 1px solid rgb(64, 234, 132);
        color: rgb(64, 234, 132);
        background: none;
        padding: 2px 18px;
        border-radius: 0;
    }

    .ralign {
        margin-right: 15px;
    }

    .down {
        color: forestgreen;
        position: absolute;
        bottom: 12px;
        right: 15px;
    }

    .e-appbar.applbar {
        background-color: black;
        color: white;
        /* min-height: 80px; */
        padding:60px 0px;
    }

</style>

@code{
    private bool forceLoad = false;

    public void OnBtnClick()
    {
        NavigationManager.NavigateTo("https://www.syncfusion.com/downloads");
    }
}

    @* <span class="regular ralign">Essential Studio for Blazor</span> 
    <div style="width:300px;">
        <span class="e-input-group e-control-wrapper e-inherit">
            <input type="search" class="e-searchinput e-input" placeholder="Search"/>
            <span class="e-icons e-search e-input-group-icon"></span>
        </span>
    </div>*@