.google-auth {
    /*padding: 6px 75px;*/
    padding: 6px 45px;
    color: #3E75CF;
    font-weight: 500;
    border-style: none;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.204);
}

svg {
    /*margin-right: 65px;*/
    margin-right: 30px;
}