.google-auth {
    width: 345px;
    color: #3E75CF;
    font-weight: 500;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.204);
}

    .google-auth:hover {
        color: #0E54C8;
    }

@media (max-width: 456px) {
    .google-auth {
        width: 320px;
    }
}
