@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using MagnusApp.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

    <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
        <div>
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <p>
                @foreach (var provider in externalLogins)
                {
                <button type="submit" class="google-auth px-3 py-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                    <svg class="me-5" width="28" height="28" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97346 18.5002C7.97346 17.2986 8.17291 16.1464 8.52933 15.0658L2.29425 10.3047C1.07903 12.7718 0.394531 15.552 0.394531 18.5002C0.394531 21.446 1.07845 24.2242 2.29165 26.6899L8.52326 21.9195C8.17031 20.8439 7.97346 19.696 7.97346 18.5002Z" fill="#FBBC05" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9215 7.56823C21.532 7.56823 23.8899 8.49324 25.7425 10.0068L31.1318 4.625C27.8478 1.76588 23.6373 0 18.9215 0C11.6001 0 5.30782 4.18678 2.29492 10.3045L8.52971 15.0656C9.96635 10.7049 14.0615 7.56823 18.9215 7.56823Z" fill="#EA4335" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9215 29.431C14.0618 29.431 9.96664 26.2944 8.53 21.9336L2.29492 26.6939C5.30782 32.8125 11.6001 36.9992 18.9215 36.9992C23.4401 36.9992 27.7544 35.3947 30.9922 32.3884L25.0739 27.8131C23.404 28.865 21.3011 29.431 18.9215 29.431Z" fill="#34A853" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.6049 18.5003C36.6049 17.407 36.4364 16.2297 36.1837 15.1367H18.9209V22.2844H28.8577C28.3608 24.7215 27.0086 26.5949 25.0733 27.8141L30.9916 32.3894C34.3927 29.2329 36.6049 24.5304 36.6049 18.5003Z" fill="#4285F4" />
                    </svg>Sign in with Google
                </button>
                }

            </p>
        </div>
    </form>

@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }
}
