.google-auth {
    /*padding: 6px 75px;*/
    width: 400px;
    color: #3E75CF;
    font-weight: 500;
    border-style: none;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.204);
}

@media (max-width: 416px) {
    .google-auth {
        width: 360px;
    }
}

@media (max-width: 360px) {
    .google-auth {
        width: 344px;
    }
}