.index-intro {
    height: 243px;
    background-color: white;
    background-image: url(../images/about.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin-top: 50px;
    display: block;
    margin-bottom: 60px;
}

section h4 {
    text-align: center;
    background: linear-gradient(#401882, #450A46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

img {
    width: 300px;
    height: 250px;
    border-radius: 8px;
    margin-top: 60px;
}

::deep #about-me {
    background-color: rgb(48, 41, 123, 0.60);
    width: 840px;
    height: 340px;
    margin-top: 60px;
    border-style: none;
    color: white;
    border-radius: 15px;
}

    ::deep #about-me .e-card-content {
        color: white;
        /*text-align: left;*/
        margin-left:10px;
    }

    ::deep #about-me .e-card-header .e-card-header-caption .e-card-header-title {
        color: white;
        margin-left: 10px;
        font-weight: bold;
        font-size: 35px;
    }

    ::deep #about-me .e-card-header .e-card-header-caption .e-card-sub-title {
        color: white;
        margin-left: 10px;
        font-weight: bold;
    }


    .upper-cards {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
    }