@page "/about"
<div class="index-intro">
    <h4>About Me</h4>
</div>

<section>
    <h4>About Me</h4>

  <div class="upper-cards">

    <img src="images/myimage.jpg" alt="picture of an fitness website"/>

    <SfCard ID="about-me">
           
        <CardContent>

                <h2>Hello, <br /> <br />I'm Magnus Mutai</h2>
                <br /> 
                <h6>A passionate  Full-Stack .NET Developer with over 3 years of commercial experience</h6>
                <p>
                    I do “DDM” i.e system and web design, development , deployment and maintenance of progressive, web and hybrid apps using Blazor 8 and .Net 8.
                    <br />
                    Below are my career metrics
                </p>

        </CardContent>
    </SfCard>

  </div>


    <SfCard ID="metrics">
       
        <CardContent>
            <div class="achievement">
                <h2>6+</h2>
                <h6>Completed projects</h6>
                <p>Commercial level projects</p>
            </div>

            <div class="vertical-line"></div>

            <div class="achievement">
                <h2>95%</h2>
                <h6>Success rate</h6>
                <p>Commercial level projects</p>
            </div>

            <div class="vertical-line"></div>

            <div class="achievement">
                <h2>3 years+</h2>
                <h6>Work Experience</h6>
                <p>Commercial level projects</p>
            </div>
        </CardContent>
    </SfCard>


    <div class="opinion">
        <div class="circle"></div>
        <p>
            “Take your web design and development to the next level with <br />
            in-depth C#/.NET and Blazor skills which will help you reach your business goals.” <br />
            <br />
            ~Magnus
        </p>
    </div>

</section>

@code {

 
}