
header {
    background-color: green;
    background-image: url(../images/introimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}

.index-intro {
    padding-top: 10px;
    color: white;
    background-color: rgb(48, 41, 123, 0.60);
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    margin-top: 30px;
}

.skill {
    margin-right: 8px;
    background-color: rgb(48, 41, 123, 0.60);
    font-size: 15px;
    border-radius: 1000px;
    padding:3px 0;
    min-width: 110px;
    display: flex;
    justify-content: center;
}

    .skill p {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

.skill-over {
    margin-right: 8px;
    background-color: rgb(48, 41, 123, 0.60);
    font-size: 15px;
    border-radius: 1000px;
    padding: 3px 0;
    min-width: 110px;
    display: flex;
    justify-content: center;
}

    .skill-over p {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

section {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: white;
    justify-content: center;
}

.second-layer {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: white;
    justify-content: center;
    padding-bottom: 10px;
}

.index-intro p {
    font-size: 15px;
}

img {
    /*margin-left: 1px;*/
    margin-right: 4px;
}
/*
.arrow {
    width: 50px;
    height: 0;
}
*/
@media (max-width: 768px) {
    .index-intro {
        width: 60%;
    }

    .hide-tablet {
        display: none;
    }

/*    .skill {
        width: 40%;
    }*/

}

@media (max-width: 474px)
{

    .hide-mobile {
        display: none;
    }
    
    .hide-tablet {
        display: none;
    }


}

@media (max-width: 355px) {
    .hide-mobile {
        display: none;
    }

    .hide-tablet {
        display: none;
    }

    .hide-zfold {
        display: none;
    }
}

    /*nav {
    background-color: black;
    height: 100px;
    text-align: center;*/
    /*  padding-top: 14px;
    padding-bottom: 14px; */
    /*}

    nav a {
        text-decoration: none;
        font-size: 12px;*/
    /* padding-left: 10px;
    padding-right: 10px; */
    /*color: white;
    }*/
