@page "/"

<header>
    <div class="index-intro">
        <h1>FULL-STACK .NET DEVELOPER</h1>
        <p>Hello World! It's Magnus Mutai a Full-stack .NET/Blazor Engineer <br /> Based in Nairobi, Kenya and I enjoy creating meaningful and exciting softwares using C#. <br />I have freebies for you! Hold Tight!</p>
    </div>


   <div class="stick"></div> <div class="arrow"></div>

    <SfButton Content="Hire Me" CssClass="borders" OnClick="OnBtnClick"></SfButton>

  <section>
    <div class="skill">
        <img src="/icons/skill/blazor-icon.svg" alt="">
        <p>Blazor</p>
    </div>
    <div class="skill">
      <img src="/icons/skill/dotnet-icon.svg" alt="">
        <p>.NET/C#</p>
    </div>
    <div class="skill hide-zfold">
       <img src="/icons/skill/syncfusion-icon.svg" alt="">
        <p>Syncfusion</p>
    </div>
    <div class="skill hide-mobile">
      <img src="/icons/skill/html-icon.svg" alt="">
        <p>Html/Css</p>
    </div>
    <div class="skill hide-tablet">
      <img src="/icons/skill/azure-icon.svg" alt="">
        <p>Azure</p>
    </div> 
    <div class="skill hide-tablet">
      <img src="/icons/skill/docker-icon.svg" alt="">
        <p>Docker</p>
    </div>

   </section>

   <div class="second-layer">
    <div class="skill-over hide-tablet">
      <img src="/icons/skill/kubernetes-icon.svg" alt="">
        <p>Kubernetes</p>
    </div>
        <div class="skill-over hide-tablet">
      <img src="/icons/skill/figma-icon.svg" alt="">
        <p>Figma</p>
    </div>
    </div>

</header>

<body>
    
    <h2>My world of personal projects</h2>

    <SfCard ID="Card">
        <CardHeader Title="Online Shopping Cart"></CardHeader>

        <CardContent>
            <img src="images/OnlineStore.png" alt="Canon 135mm" height="248px" width="auto"/>
        </CardContent>

    </SfCard>

</body>


<style>
    .e-btn.borders {
        border: 1px solid rgb(64, 234, 132);
        color: rgb(255, 215, 0);
        background: none;
        padding: 6px 36px;
        align-self: safe center;
        border-radius: 0;
        margin-top: 10px;
        font-size: 18px;
        font-style: italic;
    }
    
    .e-btn.borders:hover {
        background-image: linear-gradient(#3D1299, #D10FD0);
        color: gold;
        border: 1px solid rgb(0, 0, 0);
        transition-duration: 2s;
    }

    #Card {
        width: 600px;
        height: 422px;
        margin-bottom: 50px;
        margin-top: 178px;
        background-color: rgb(78, 0, 243, 26%);
        border-style: none;
        color: white;
    }

    .e-card .e-card-header {
        display: flex;
        align-items: center;


    }

    .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        color: white;
    }
   
    .e-card .e-card-content {
        width: auto;
        margin-right : auto;
    }
</style>

@code{
    public void OnBtnClick()
    {

    }
}