@page "/"

@*     <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Hire Me</a>
        <a href="#">Projects</a>
        <a href="#">Sign Up</a>
        <a href="#">Login</a>
    </nav> *@
