@page "/"

<header>
    <div class="index-intro">
        <h1>FULL-STACK .NET DEVELOPER</h1>
        <p>Hello World! It's Magnus Mutai a Full-stack .NET/Blazor Engineer <br /> Based in Nairobi, Kenya and I enjoy creating meaningful and exciting softwares using C#. <br />I have freebies for you! Hold Tight!</p>
    </div>


   <div class="stick"></div> <div class="arrow"></div>

    <SfButton Content="Hire Me" CssClass="borders" OnClick="OnBtnClick"></SfButton>

  <section>
    <div class="skill">
        <img src="/icons/skill/blazor-icon.svg" alt="blazor icon">
        <p>Blazor</p>
    </div>
    <div class="skill">
      <img src="/icons/skill/dotnet-icon.svg" alt="dotnet icon">
        <p>.NET/C#</p>
    </div>
    <div class="skill hide-zfold">
       <img src="/icons/skill/syncfusion-icon.svg" alt="syncfusion icon">
        <p>Syncfusion</p>
    </div>
    <div class="skill hide-mobile">
      <img src="/icons/skill/html-icon.svg" alt="html icon">
        <p>Html/Css</p>
    </div>
    <div class="skill hide-tablet">
      <img src="/icons/skill/azure-icon.svg" alt="azure icon">
        <p>Azure</p>
    </div> 
    <div class="skill hide-tablet">
      <img src="/icons/skill/docker-icon.svg" alt="docker icon">
        <p>Docker</p>
    </div>

   </section>

   <div class="second-layer">
    <div class="skill-over hide-tablet">
      <img src="/icons/skill/kubernetes-icon.svg" alt="kubernetes icon">
        <p>Kubernetes</p>
    </div>
        <div class="skill-over hide-tablet">
      <img src="/icons/skill/figma-icon.svg" alt="figma icon">
        <p>Figma</p>
    </div>
    </div>

</header>

<div class="holder">
    <h4 class="body-header">My world of personal projects</h4>

    <div class="sub-container">

    <div class="main-card">
    <SfCard ID="Card">
        <CardHeader Title="Online Shopping Cart"></CardHeader>

        <CardContent>
            <img src="images/OnlineStore.png" alt="Canon 135mm" width ="100%"/>
        </CardContent>

    </SfCard>
    </div>

    <div class="small-card">
    <SfCard ID="mini-card">
        <CardHeader>
                    <SfButton Content="Link" CssClass="view" OnClick="OnBtnClick"></SfButton>
        </CardHeader>

        <CardContent>
                    <p>
                        This is  an Online Shopping Cart <br />
                        like Amazon where people can view<br />
                        and buy items.
                    </p>
        </CardContent>

    </SfCard>
    
    
    <SfCard ID="mini-card2">
        <CardHeader>
                    <SfButton Content="Code" CssClass="git" OnClick="OnBtnClick"></SfButton>
        </CardHeader>

        <CardContent>
                    <p>
                        Technologies used include:<br />
                        C#, Blazor WASM, BootstrapV5,<br />
                        MSSQL, EF Core and REST API<br />
                    </p>
        </CardContent>

    </SfCard>
    </div>
    </div>


   <div class="sub-container">

    <div class="main-card">
    <SfCard ID="Card">
        <CardHeader Title="Online Shopping Cart"></CardHeader>

        <CardContent>
            <img src="images/OnlineStore.png" alt="Canon 135mm" width ="100%"/>
        </CardContent>

    </SfCard>
    </div>

    <div class="small-card">
    <SfCard ID="mini-card">
        <CardHeader>
                    <SfButton Content="Link" CssClass="view" OnClick="OnBtnClick"></SfButton>
        </CardHeader>

        <CardContent>
                    <p>
                        This is  an Online Shopping Cart <br />
                        like Amazon where people can view<br />
                        and buy items.
                    </p>
        </CardContent>

    </SfCard>
    
    
    <SfCard ID="mini-card2">
        <CardHeader>
                    <SfButton Content="Code" CssClass="git" OnClick="OnBtnClick"></SfButton>
        </CardHeader>

        <CardContent>
                    <p>
                        Technologies used include:<br />
                        C#, Blazor WASM, BootstrapV5,<br />
                        MSSQL, EF Core and REST API<br />
                    </p>
        </CardContent>

    </SfCard>
    </div>
    </div>

</div>


<style>

    .e-btn.borders {
        border: 1px solid rgb(64, 234, 132);
        color: white;
        background: none;
        padding: 6px 36px;
        align-self: safe center;
        border-radius: 0;
        margin-top: 10px;
        font-size: 18px;
        font-style: italic;
    }
    
    .e-btn.borders:hover {
        background-image: linear-gradient(#3D1299, #D10FD0);
        color: white;
        border: 1px solid rgb(0, 0, 0);
        transition-duration: 2s;
    }

    #Card {
        width: 450px;
        height: 360px;
        margin-bottom: 50px;
        margin-top: 100px;
        background-color: rgb(78, 0, 243, 26%);
        border-style: none;
        color: white;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;
    }

    #Card .e-card-header .e-card-header-caption .e-card-header-title, #mini-card .e-card-header .e-card-header-caption .e-card-header-title, #mini-card2 .e-card-header .e-card-header-caption .e-card-header-title {
        color: white;
        text-align: center;
    }
    
    #mini-card {
        width: 245px;
        height: 170px;
        background-color: rgb(78, 0, 243, 26%);
        border-style: none;
        color: white;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
        border-radius: 15px;
    }

    #mini-card2 {
        width: 245px;
        height: 170px;
        background-color: rgb(78, 0, 243, 26%);
        border-style: none;
        color: white;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;
        margin-top: 20px;
    }

        #mini-card2 .e-card-content, #mini-card .e-card-content {
            color: white;
        }

    .e-btn.view {
        background-image: linear-gradient(#3D1299, #D10FD0);
        padding: 6px 25px;
        margin-right: 135px;
    }

    .e-btn.git {
        background-color: #3D1299;
        padding: 6px 25px;
        margin-right: 135px;
    }

    #mini-card2 .e-card-header, #mini-card .e-card-header {

    }

</style>

@code{
    public void OnBtnClick()
    {

    }
}