@page "/"
@using Syncfusion.Blazor.Buttons
<PageTitle>Home</PageTitle>

<SfAppBar>
    <SfButton CssClass="e-inherit ralign" IconCss="e-icons e-menu"></SfButton>
    <span class="regular ralign">Essential Studio for Blazor</span>
    <div style="width: 300px" class="ralign">
        <span class="e-input-group e-control-wrapper e-inherit">
            <input type="text" class="e-searchinput e-input" placeholder="Search"/>
            <span class="e-icons e-search e-input-group-icon"></span>
        </span>
    </div>
</SfAppBar>
<br />

<h1>Hello, world!</h1>

Welcome to your new app.

<style>
    .ralign {
        margin-right: 15px;
    }
</style>