
header {
    background-color: green;
    background-image: url(../images/introimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.index-intro {
    padding-top: 10px;
    color: white;
    background-color: rgb(48, 41, 123, 0.60);
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    margin-top: 30px;
}

.skill {
    margin-right: 12px;
    background-color: rgb(48, 41, 123, 0.60);
    font-size: 15px;
    border-radius: 1000px;
    padding:5px 0;
    width: 94px;
    display: flex;

}

    .skill p {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

section {
    margin-top: 170px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

.index-intro p {
    font-size: 15px;
}


@media (max-width: 768px) {
    .index-intro {
        width: 60%;
    }

    section {
        width: 60%;
        padding-bottom: 20px;
    }

    .hide-tablet {
        display: none;
    }
    .skill {
        width: 94px;
    }

}

@media (max-width: 435px)
{
    section {
        width: 60%;
        padding-bottom: 20px;
    }

    .hide-mobile {
        display: none;
    }
    
    .hide-tablet {
        display: none;
    }

    .skill {
        width: 94px;
    }

}

/*nav {
    background-color: black;
    height: 100px;
    text-align: center;*/
/*  padding-top: 14px;
    padding-bottom: 14px; */
/*}

    nav a {
        text-decoration: none;
        font-size: 12px;*/
/* padding-left: 10px;
    padding-right: 10px; */
/*color: white;
    }*/
