@page "/"
@* 
<header>
    <div class="index-intro">
        <h1>FULL-STACK .NET DEVELOPER</h1>
        <p>Hello World! It's Magnus Mutai a 22 year old Full-stack .NET/Blazor developer <br /> Based in Nairobi, Kenya and I enjoy creating meaningful and exciting softwares using C#. <br />I have freebies for you! Hold Tight!</p>
    </div>
  <section>
    <div class="skill">
        <p>Blazor</p>
    </div>
    <div class="skill">
        <p>Blazor</p>
    </div>
    <div class="skill">
        <p>.NET</p>
    </div>
    <div class="skill">
        <p></p>
    </div>
    <div class="skill">
        <p>C#</p>
    </div>
    <div class="skill">
        <p>Syncfusion</p>
    </div>
    <div class="skill">
        <p>Html</p>
    </div>
    <div class="skill">
        <p>CSS3</p>
    </div>
    <div class="skill">
        <p>Azure</p>
    </div> 
    <div class="skill">
        <p>Docker</p>
    </div>
    <div class="skill">
        <p>Kubernetes</p>
    </div>

    <div class="skill">
        <p>Figma</p>
    </div>

   </section>

</header>

 *@
@*     <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Hire Me</a>
        <a href="#">Projects</a>
        <a href="#">Sign Up</a>
        <a href="#">Login</a>
    </nav> *@
