.control-container {
    background-color: transparent;
    margin: 0 auto;
    /*width: 1000px;*/
}

.carousel-item-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 300px;
    /*width: 100%;*/
}

::deep #Testimonial-Card {
    height: 78%;
    width: 300px;
}

::deep #Testimonials .e-carousel-items .e-carousel-item {
    margin-top: 50px;
}

::deep .e-carousel-indicators .e-indicator-bars .e-indicator-bar, ::deep .e-carousel-navigators {
    display: none;
}

::deep .e-carousel .e-carousel-navigators {
    display: none;
}

@media (min-width: 1000px) {
    /*    ::deep .e-carousel .e-carousel-items .hide-laptop {
        display: none !important;
    }*/
}

@media (max-width: 1000px)
{
    .carousel-item-wrapper {
        gap: 50px;
    }
    .hide-tablet {
        display: none;
    }
}

@media (max-width: 682px)
{
    .hide-mobile {
        display: none;
    }
}