@rendermode InteractiveAuto

    <SfCarousel ID="Testimonials">
        <CarouselItem>

            <div class="carousel-item-wrapper">
                @* <div class="circle"></div> *@
                <SfCard ID="Testimonial-Card">
                    <CardContent>
                        <p>"We like how Magnus implemented the dark mode in our website. Next, we are making another contract to develop a Blazor App."</p>
                    </CardContent>
                </SfCard>
            </div>

        </CarouselItem>
        <CarouselItem>

            <div class="carousel-item-wrapper">
                <SfCard ID="Testimonial-Card">
                    <CardContent>
                        <p>"It was a delight working with Magnus. He delivered a top-notch Blazor tutorial with clear instructions, clean and focused example code, and detailed demo images—all ahead of schedule. Magnus was also quick and helpful in processing peer review feedback from our developers. If we need someone for .NET, C#, or Blazor in the future, I’ll definitely reach out to Magnus."</p>
                    </CardContent>
                </SfCard>
            </div>

        </CarouselItem>
        <CarouselItem>

            <div class="carousel-item-wrapper">
                <figure class="img-container">
                    <img src="images/onlinestore.jpg" alt="Golden Gate Bridge, San Francisco" style="height:100%;width:100%;" />
                    <figcaption class="img-caption">Golden Gate Bridge, San Francisco</figcaption>
                </figure>
            </div>

        </CarouselItem>

    </SfCarousel>

@code {

}
