.control-container {
    background-color: transparent;
    margin: 0 auto;
    width: 600px;
}

.carousel-item-wrapper {
    height: 300px;
    width: 400px;
}

::deep #Testimonials .e-carousel-items .e-carousel-item .img-container {
    height: 80%;
}

::deep #Testimonial-Card {
    height: 78%;
    width: 100%;
}

::deep #Testimonials .e-carousel-items .e-carousel-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    ::deep #Testimonials .e-carousel-items .e-carousel-item .img-caption {
        bottom: 4em;
        color: #fff;
        font-size: 12pt;
        height: 1em;
        position: relative;
        padding: 0.3em 1em;
        text-align: center;
        width: 100%;
    }
