.holder {
    color: white;
    margin-top: 60px;
    align-content: center;
}


h5 {
    display: none;
    text-align: center;
}

.sub-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom:40px;
}

::deep #Card {
    width: 450px;
    height: 320px;
    margin-bottom: 50px;
    background-color: rgba(78, 0, 243, 0.26);
    border-style: none;
    color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

    ::deep #Card:hover {
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.3s ease-in-out
    }

        ::deep #Card .e-card-content img {
            width: 100%;
            object-fit: contain;
            transition: 0.4s ease-in-out;
        }

    ::deep #Card .e-card-content img:hover {
        transform: scale(1.03);
        transition: 0.4s ease-in-out;
    }

    ::deep #Card .e-card-header .e-card-header-caption .e-card-header-title, #mini-card .e-card-header .e-card-header-caption .e-card-header-title, #mini-card2 .e-card-header .e-card-header-caption .e-card-header-title {
        color: white;
        text-align: center;
        margin-bottom: 30px;
    }

::deep #mini-card {
    width: 250px;
    height: 150px;
    background-color: rgba(78, 0, 243, 0.26);
    border-style: none;
    color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
}

::deep #mini-card2 {
    width: 250px;
    height: 150px;
    background-color: rgba(78, 0, 243, 0.26);
    border-style: none;
    color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
}

    ::deep #mini-card2 .e-card-content, ::deep #mini-card .e-card-content {
        color: white;
        margin-left: 5px;
    }

        ::deep #mini-card2 .e-card-content p, ::deep #mini-card .e-card-content p {
            line-height: 20px;
        }

::deep .e-btn.view {
    background-image: linear-gradient(to right, #3D1299, #D10FD0);
    padding: 8px 24px;
    margin-right: 135px;
    border-style: none;
    border-radius: 8px;
    
}

    ::deep .e-btn.view:hover {
        background-image: linear-gradient(to right, rgba(51, 10, 143, 1), rgba(189, 0, 188, 1));
    }

    .small-card {
    display: block;
    gap: 20px;
}


.git {
    background-color: #3D1299;
    padding: 10px 14px;
    margin-right: 125px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    display: flex;
    gap: 3px;
    transition: .3s ease-in-out;
}

    .git:hover {
        background-color: rgba(51, 10, 143, 1);
        transition: .3s ease-in-out;
    }

@media (max-width: 768px) {
    h5 {
        display: block;
        margin-bottom: 15px;
    }

    .hmb {
        margin-bottom: 30px;
    }

    .sub-container {
        display: block;
        margin-bottom: 100px;
    }

    .small-card {
        display: block;
        margin-bottom: 40px;
        margin-top: -20px;
    }

    ::deep #mini-card, #mini-card2 {
        margin-top: 0px;
    }

    ::deep #mini-card {
        margin-bottom: 20px;
    }

}

@media (max-width: 474px) {

    ::deep #Card {
        width: 360px;
        height: 300px;
    }
}

@media (max-width: 355px) {

    ::deep #Card {
        width: 280px;
        height: 250px;
    }
}
