.appnav {
    display: flex;
}

.home {
    margin-left: 100px;
}

.appnav a {
    font-size: 12px;
    font-weight: 500;
    color: white;
    /* letter-spacing: -.18px;*/
    text-decoration: none;
    margin-right: 15px;
    border: 1px solid rgb(255, 215, 0);
    border-radius: 1000px;
    padding: 3.5px 15px;
    font-family: "Montserrat", sans-serif;
    white-space: nowrap;
    transition: .3s ease-in-out;
}

    .appnav a:hover {
        border: 1px solid #FFE500;
        background-color: rgba(19, 24, 133, 0.55);
        transition: .3s ease-in-out;
    }

    .appnav a:active {
        border: 1px solid #FFE500;
        background-color: rgba(19, 24, 133, 0.55);
    }

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    animation: fadeIn 500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOutAnimation {
    animation: fadeOut 500ms;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

    .sidebar a {
        margin-left: 25px;
        padding-left: 13px;
        padding-top: 2px;
        padding-bottom: 2px;
        text-decoration: none;
        color: #20B3E2;
        font-size: 18px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        transition-duration: .1s;
    }

        .sidebar a:not(:first-child) {
            width: 100%;
        }

        .sidebar a:hover:not(:first-child) {
            background-image: linear-gradient( to right, #000000, #444343, #6C6C6C, #A3A3A3);
            background-color: black;
            transition-duration: .1s;
            border-radius: 10px 5px;
        }

.showsidebar {
    display: flex;
}

.hidesidebar {
    display: none;
}

.close {
    fill: white;
    margin-top: 10px;
}

.close:hover {
    fill: black;
}

    .close svg {
        width: 24px;
        height: 24px;
    }

::deep .e-appbar.applbar {
    background-color: black;
    height: 60px;
    color: white;
}

.first-part {
    padding-right: 410px;
}

.second-part {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

::deep .e-btn.outline {
    border: 1px solid rgb(64, 234, 132);
    color: black;
    background: rgb(64, 234, 132);
    padding: 2px 18px;
    border-radius: 15px;
    position: absolute;
    bottom: 1px;
    right: 15px;
    white-space: nowrap;
    transition: .25s ease-in-out;
}


::deep .e-btn.outline:hover {
    background-color: white;
    color: #07F468;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 4px;
    transition: .25s ease-in-out;
}

::deep .ralign {
    margin-right: 15px;
}

.menu {
    display: none;
}

/* Tablet View */
@media (max-width: 714px) {

    .navbutton {
        display: none;
    }

    .second-part {
        position: absolute;
        bottom: 16px;
        right: 35px;
    }

    .menu {
        display: block;
        fill: white;
        position: absolute;
        bottom: 18px;
        right: 25px;
    }

    .showsidebar {
        display: flex;
    }

    .hidesidebar {
        display: none;
    }

}

/* Mobile View */
@media (max-width: 435px) {
    .sidebar {
        width: 100%;
    }
}


