@inject NavigationManager NavigationManager
@rendermode InteractiveAuto
<header>
 
    <nav class="@ClassCss sidebar">
        <a class="close" @onclick="HideSidebar"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="m251.333-204.667-46.666-46.666L433.334-480 204.667-708.667l46.666-46.666L480-526.666l228.667-228.667 46.666 46.666L526.666-480l228.667 228.667-46.666 46.666L480-433.334 251.333-204.667Z" /></svg></a>
        <a href="account/login" @onclick="HideSidebar">Login</a>
        <a href="account/register" @onclick="HideSidebar">Sign Up</a>
        <a href="" @onclick="HideSidebar">Home</a>
        <a href="about" @onclick="HideSidebar">About</a>
        <a href="contact" @onclick="HideSidebar">Contact</a>
        <a href="hireme" @onclick="HideSidebar">Hire Me</a>
        <a href="projects" @onclick="HideSidebar">Projects</a>
    </nav> 

<SfAppBar Mode="AppBarMode.Dense" CssClass="applbar">
    
    <div class="first-part appnav">
        <a href="" class="home navbutton">Home</a>
        <a href="about" class="navbutton">About</a>
        <a href="contact" class="navbutton">Contact</a>
        <a href="hireme" class="navbutton">Hire Me</a>
        <a href="projects" class="navbutton">Projects</a>
    </div>

    <div class="second-part">
        <SfButton Content="Hire Me" CssClass="outline ralign" @onclick="Navigatopage"></SfButton>
    </div>
    
    <a class="menu" @onclick="ShowSidebar"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" /></svg></a>

    
</SfAppBar>
</header>


@code {
    public string? ClassCss { get; set; }
    // public string? FadeOutAnimation { get; set; }

    public void Navigatopage()
    {

        NavigationManager.NavigateTo("/hireme");
    }

    protected void ShowSidebar()
    {
        ClassCss = "showsidebar";
        // FadeOutAnimation = null;

    }

    protected void HideSidebar()
    {
        // FadeOutAnimation = "fadeOutAnimation";
        ClassCss = null;
    }

}

