@page "/topmostmenu"

<SfAppBar Mode="AppBarMode.Dense" CssClass="upperappbar">
    <div>
        <a class="profile" href="account/login"><img src="icons/login/profile.svg" alt="profile icon" /></a>
    </div>
</SfAppBar>

<style>

    .e-appbar.upperappbar {
        background-color: #161616;
        color: white;
    }

    .profile {
        position: absolute;
        bottom: 8px;
        right: 50px;
        transition: .4s ease-in-out;
    }

    .profile:hover {
        bottom: 12px;
        transition: .4s ease-in-out;
    }

    @@media (max-width: 714px) {
        .profile {
            position: absolute;
            bottom: 8px;
            right: 32px;
        }
    }
</style>
