.line-w {
    width: 50px;
}

.cont-email{
   white-space: nowrap;
}

/*::deep #externallogin {
    width: 400px;
    height: 60px;
    margin: 45px auto;
}*/
.ext-login {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

/*::deep #Login {
    background-color: white;*/
    /*height: 370px;*/
    /*padding: 30px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
}

    ::deep #Login .formitem {
        border-radius: 0;
    }

    ::deep #Login .lab-show {
        display: flex;
        justify-content: space-between;
    }

    ::deep #Login label {
        color: black;
        font-size: 1rem;
    }

    ::deep #Login a {
        color: #3E75CF;
        font-size: 0.9rem;
        text-decoration: none;
    }

    ::deep #Login .logintbtn {
        border-radius: 0;
        color: white;
        background-color: #0D6EFD;
        padding: 6px 145px;
        font-weight: 500;
    }

        ::deep #Login .logintbtn:hover {
            background-color: #0C52DA;*/
            /*Change this color to a lighter blue*/
        /*}

    ::deep #Login h4 {
        text-align: center;
    }

    ::deep #Login .textbox {
        height: 70px;
    }

.reg-new {
    margin-top: 15px;
}

::deep #Login .check-box {
    margin-top: -20px;
}*/

.design {
    display: block;
 /*   width: 90%;*/
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (max-width: 768px) {

}

@media (max-width: 456px) {
    .line-w {
        width: 25px;
    }
}