.signup {
    text-align: center;
    margin-top: 70px;
}

.line-w {
    width: 50px;
}

.cont-email {
    white-space: nowrap;
}

.ext-login {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

::deep .design {
    display: block;
    padding: .375rem .75rem;
    width: 350px;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    background-color: rgba(78, 0, 243, 0.2);
    backdrop-filter: blur(24px);
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: .5px solid white;
    border-radius: 15px;
    box-shadow: 0 2px 8px 0 rgba(78, 0, 243, 0.2), 0 6px 5px 0 rgba(78, 0, 243, 0.19);
}

.row {
    padding-top: 2rem;
}

::deep .form-control {
    font-size: .9rem;
    width: 97%;
    background: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border: .5px solid white;
    border-radius: 25px;
}

::deep .input {
    margin-bottom: 30px;
}

::deep .text-danger {
    margin-left: 10px;
}

::deep ::placeholder {
    color: white;
}

.myregister-btn:hover {
    background-color: #0E54C8;
}

@media (max-width: 456px) {

    .line-w {
        width: 45px;
    }

    ::deep .design {
        width: 320px;
    }
}